@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.plano-de-fundo{
  /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.496), rgba(255, 255, 255, 0.496)), url(../../public/imagens/jogo.jpg); */
  background-image: url(../../../public/imagens/campo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%); */
}


.custom-shape {
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
  background-attachment: fixed;
  transition: background-image 0.5s ease;

}

.img{
  filter:drop-shadow(
    0px 0px 80px #07002c55
    );
}

/* .plano-fundo{
  background-image: linear-gradient(to bottom, rgb(50% ,0, 0, 0), rgba(3, 169, 244, 1));
} */

.plano-de-fundo2{
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0.721), rgba(0, 0, 0, 0.721)),  url(../../../public/imagens/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 
}

.shadow-gradient {
  box-shadow: 0px 10px 20px #03A9F4a3;

}



/* @keyframes swingVertical {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(20px);
  }
} */

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}


/* Adicione a classe 'bounceAnimation' para aplicar a animação na imagem */
.photo {
  animation: pulse 4s infinite;
}

.linear{
  background-image: linear-gradient(to right, #080924 40%, #00a6ff 90%);
}


.azul{
  /* background-image:linear-gradient(to right top #020617) url(../../public/imagens/media.png); */
  /* background-image: url(../../public/imagens/media.png); */
  background-image: linear-gradient(to right top, rgb(2, 6, 23), rgba(2, 6, 23, 0.800)), url(../../../public/imagens/media.png);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.azulao{
  background-color:  rgb(2, 6, 23) ;
}

::-webkit-scrollbar {
  width: 15px;
  
 
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background:#020617;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
   background:#03A9F4;
  border-radius: 10px;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #03A9F4; 
}

.chuteira{
  /* background-image: url(../../public/imagens/sinal.jpg); */
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0.453), rgba(0, 0, 0, 0.653)),  url(../../../public/imagens/sinal.jpg);
  background-size: cover;
  height: 100%;
  
  
}

.campeao{
  background-image: url(../../../public/public/imagens/sports.jpg);
  background-size: cover;
  height: 100%;
}

.bg-futsal{
  /* background-image: url(../../public/imagens/tempo.jpg); */
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0.721), rgba(0, 0, 0, 0.721)),  url(../../../public/imagens/tempo.jpg);
  background-size: cover;
  height: 100%;

}
